# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # ApplePayValidateMerchantController
  class ApplePayValidateMerchantController < BaseController
    # Apple Pay Validate Merchant
    # @param [V1WalletProviderApplePayValidateMerchantRequest] body Required
    # parameter: TODO: type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def apple_pay_validate_merchant(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/wallet-provider/apple-pay-validate-merchant',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseApplePayValidateMerchant.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end
  end
end
