# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # DeclinedRecurringTransactionsController
  class DeclinedRecurringTransactionsController < BaseController
    # TODO: type endpoint description here
    # @param [String] declined_recurring_transaction_id Required parameter: Id
    # @param [Array[Expand5Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @return [ResponseDeclinedRecurringTransaction] Response from the API call.
    def get_one_declined_recurring_transaction(declined_recurring_transaction_id,
                                               expand: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/declined-recurring-transactions/{declined_recurring_transaction_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(declined_recurring_transaction_id, key: 'declined_recurring_transaction_id')
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseDeclinedRecurringTransaction.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [Page] page Optional parameter: Use this field to specify paginate
    # your results, by using page size and number. You can use one of the
    # following methods: >/endpoint?page={ "number": 1, "size": 50 } >
    # >/endpoint?page[number]=1&page[size]=50 >
    # @param [Array[Order21]] order Optional parameter: Criteria used in query
    # string parameters to order results.  Most fields from the endpoint results
    # can be used as a `key`.  Unsupported fields or operators will return a
    # `412`.  Must be encoded, or use syntax that does not require encoding.
    # >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
    # >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
    # >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key":
    # "created_ts", "operator": "asc"}] >
    # @param [Array[FilterBy]] filter_by Optional parameter: Filter criteria
    # that can be used in query string parameters.  Most fields from the
    # endpoint results can be used as a `key`.  Unsupported fields or operators
    # will return a `412`. Must be encoded, or use syntax that does not require
    # encoding.
    # >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value
    # ]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=",
    # "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type",
    # "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
    # "created_ts", "operator": ">=", "value": "946702799" }, { "key":
    # "created_ts", "operator": "<=", value: "1695061891" }] >
    # >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value":
    # "Williams,Brown,Allman" }] >
    # @param [Array[Expand5Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Format1Enum] format Optional parameter: Reporting format, valid
    # values: csv, tsv
    # @param [String] typeahead Optional parameter: You can use any `field_name`
    # from this endpoint results to order the list using the value provided as
    # filter for the same `field_name`. It will be ordered using the following
    # rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={
    # "field_name": "Value" }&_typeahead=field_name >
    # @param [Array[Field30Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ResponseDeclinedRecurringTransactionsCollection] Response from the API call.
    def list_all_declined_recurring_transactions(page: nil,
                                                 order: nil,
                                                 filter_by: nil,
                                                 expand: nil,
                                                 format: nil,
                                                 typeahead: nil,
                                                 fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/declined-recurring-transactions',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(order, key: 'order'))
                   .query_param(new_parameter(filter_by, key: 'filter_by'))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(format, key: '_format'))
                   .query_param(new_parameter(typeahead, key: '_typeahead'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseDeclinedRecurringTransactionsCollection.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [V1DeclinedRecurringTransactionPaymentsRequest] body Required
    # parameter: TODO: type description here
    # @return [ResponseDeclinedRecurringTransactionPayment] Response from the API call.
    def create_a_payment(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/declined-recurring-transaction-payments',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseDeclinedRecurringTransactionPayment.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] declined_recurring_transaction_id Required parameter: Id
    # @param [Array[Expand5Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @return [ResponseDeclinedRecurringTransaction] Response from the API call.
    def rerun_the_transaction(declined_recurring_transaction_id,
                              expand: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/declined-recurring-transactions/{declined_recurring_transaction_id}/rerun',
                                     Server::DEFAULT)
                   .template_param(new_parameter(declined_recurring_transaction_id, key: 'declined_recurring_transaction_id')
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseDeclinedRecurringTransaction.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] declined_recurring_transaction_id Required parameter: Id
    # @return [ResponseDeclinedRecurringTransactionResend] Response from the API call.
    def resend_the_transaction(declined_recurring_transaction_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/declined-recurring-transactions/{declined_recurring_transaction_id}/resend',
                                     Server::DEFAULT)
                   .template_param(new_parameter(declined_recurring_transaction_id, key: 'declined_recurring_transaction_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseDeclinedRecurringTransactionResend.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end
  end
end
