# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # ElementsController
  class ElementsController < BaseController
    # Elements uses a `TicketIntention` object to represent your intent to
    # obtain credit card information from a customer with the intent to tokenize
    # the card or charge the card. Ticket Intention is great with online store
    # checkouts.
    # @param [V1ElementsTicketIntentionRequest] body Required parameter: TODO:
    # type description here
    # @return [ResponseTicketIntention] Response from the API call.
    def ticket_intention(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/elements/ticket/intention',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseTicketIntention.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # Elements uses a `TransactionIntention` object to represent your intent to
    # collect payment from a customer, tracking charge attempts and payment
    # state changes throughout the process.
    # @param [V1ElementsTransactionIntentionRequest] body Required parameter:
    # TODO: type description here
    # @return [ResponseTransactionIntention] Response from the API call.
    def transaction_intention(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/elements/transaction/intention',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseTransactionIntention.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end
  end
end
