# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # FullBoardingController
  class FullBoardingController < BaseController
    # This method is used to fully board a merchant to the platform. When using
    # this method, you must provide data for each "Required" property. See the
    # description for each of these properties for more information about their
    # requirement criteria.
    # @param [V1FullboardingRequest] body Required parameter: TODO: type
    # description here
    # @return [ResponseFullboarding] Response from the API call.
    def merchant_boarding_full(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/fullboarding',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseFullboarding.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end
  end
end
