# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # LocationsController
  class LocationsController < BaseController
    # TODO: type endpoint description here
    # @param [Page] page Optional parameter: Use this field to specify paginate
    # your results, by using page size and number. You can use one of the
    # following methods: >/endpoint?page={ "number": 1, "size": 50 } >
    # >/endpoint?page[number]=1&page[size]=50 >
    # @param [String] keyword Optional parameter: You can use any value to
    # search on specific fields of this endpoint results. You can not specify
    # the fields that are used.
    # @param [Array[Expand10Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [RelationshipEnum] relationship Optional parameter: Used to filter
    # the type of locations that will be returned
    # @return [ResponseLocationSearchsCollection] Response from the API call.
    def locations_search(page: nil,
                         keyword: nil,
                         expand: nil,
                         relationship: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/location-searches',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(keyword, key: 'keyword'))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(relationship, key: 'relationship'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseLocationSearchsCollection.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [Page] page Optional parameter: Use this field to specify paginate
    # your results, by using page size and number. You can use one of the
    # following methods: >/endpoint?page={ "number": 1, "size": 50 } >
    # >/endpoint?page[number]=1&page[size]=50 >
    # @param [Array[Order21]] order Optional parameter: Criteria used in query
    # string parameters to order results.  Most fields from the endpoint results
    # can be used as a `key`.  Unsupported fields or operators will return a
    # `412`.  Must be encoded, or use syntax that does not require encoding.
    # >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
    # >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
    # >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key":
    # "created_ts", "operator": "asc"}] >
    # @param [Array[FilterBy]] filter_by Optional parameter: Filter criteria
    # that can be used in query string parameters.  Most fields from the
    # endpoint results can be used as a `key`.  Unsupported fields or operators
    # will return a `412`. Must be encoded, or use syntax that does not require
    # encoding.
    # >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value
    # ]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=",
    # "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type",
    # "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
    # "created_ts", "operator": ">=", "value": "946702799" }, { "key":
    # "created_ts", "operator": "<=", value: "1695061891" }] >
    # >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value":
    # "Williams,Brown,Allman" }] >
    # @param [Array[Expand11Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Format1Enum] format Optional parameter: Reporting format, valid
    # values: csv, tsv
    # @param [String] typeahead Optional parameter: You can use any `field_name`
    # from this endpoint results to order the list using the value provided as
    # filter for the same `field_name`. It will be ordered using the following
    # rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={
    # "field_name": "Value" }&_typeahead=field_name >
    # @param [Array[Field33Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ResponseLocationsCollection] Response from the API call.
    def list_all_locations(page: nil,
                           order: nil,
                           filter_by: nil,
                           expand: nil,
                           format: nil,
                           typeahead: nil,
                           fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/locations',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(order, key: 'order'))
                   .query_param(new_parameter(filter_by, key: 'filter_by'))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(format, key: '_format'))
                   .query_param(new_parameter(typeahead, key: '_typeahead'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseLocationsCollection.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [Page] page Optional parameter: Use this field to specify paginate
    # your results, by using page size and number. You can use one of the
    # following methods: >/endpoint?page={ "number": 1, "size": 50 } >
    # >/endpoint?page[number]=1&page[size]=50 >
    # @param [Array[Order21]] order Optional parameter: Criteria used in query
    # string parameters to order results.  Most fields from the endpoint results
    # can be used as a `key`.  Unsupported fields or operators will return a
    # `412`.  Must be encoded, or use syntax that does not require encoding.
    # >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
    # >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
    # >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key":
    # "created_ts", "operator": "asc"}] >
    # @param [Array[FilterBy]] filter_by Optional parameter: Filter criteria
    # that can be used in query string parameters.  Most fields from the
    # endpoint results can be used as a `key`.  Unsupported fields or operators
    # will return a `412`. Must be encoded, or use syntax that does not require
    # encoding.
    # >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value
    # ]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=",
    # "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type",
    # "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
    # "created_ts", "operator": ">=", "value": "946702799" }, { "key":
    # "created_ts", "operator": "<=", value: "1695061891" }] >
    # >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value":
    # "Williams,Brown,Allman" }] >
    # @param [Array[Expand11Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Format1Enum] format Optional parameter: Reporting format, valid
    # values: csv, tsv
    # @param [String] typeahead Optional parameter: You can use any `field_name`
    # from this endpoint results to order the list using the value provided as
    # filter for the same `field_name`. It will be ordered using the following
    # rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={
    # "field_name": "Value" }&_typeahead=field_name >
    # @param [Array[Field34Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @param [Object] product_transaction_active Optional parameter: Product
    # Transaction Active
    # @param [Object] product_file_active Optional parameter: Product File
    # Active
    # @param [Object] product_invoice_active Optional parameter: Product Invoice
    # Active
    # @param [Object] product_recurring_active Optional parameter: Product
    # Recurring Active
    # @param [Object] product_accountvault_active Optional parameter: Product
    # Accountvault Active
    # @return [ResponseLocationInfosCollection] Response from the API call.
    def locations_detail(page: nil,
                         order: nil,
                         filter_by: nil,
                         expand: nil,
                         format: nil,
                         typeahead: nil,
                         fields: nil,
                         product_transaction_active: nil,
                         product_file_active: nil,
                         product_invoice_active: nil,
                         product_recurring_active: nil,
                         product_accountvault_active: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/locations/info',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(order, key: 'order'))
                   .query_param(new_parameter(filter_by, key: 'filter_by'))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(format, key: '_format'))
                   .query_param(new_parameter(typeahead, key: '_typeahead'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .query_param(new_parameter(product_transaction_active, key: 'product_transaction_active'))
                   .query_param(new_parameter(product_file_active, key: 'product_file_active'))
                   .query_param(new_parameter(product_invoice_active, key: 'product_invoice_active'))
                   .query_param(new_parameter(product_recurring_active, key: 'product_recurring_active'))
                   .query_param(new_parameter(product_accountvault_active, key: 'product_accountvault_active'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseLocationInfosCollection.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] location_id Required parameter: Location ID
    # @param [Array[Expand11Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Array[Field35Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ResponseLocation] Response from the API call.
    def view_single_location_record(location_id,
                                    expand: nil,
                                    fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/locations/{location_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(location_id, key: 'location_id')
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseLocation.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] location_id Required parameter: Location ID
    # @param [Array[Expand11Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Array[Field36Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @param [Object] product_transaction_active Optional parameter: Product
    # Transaction Active
    # @param [Object] product_file_active Optional parameter: Product File
    # Active
    # @param [Object] product_invoice_active Optional parameter: Product Invoice
    # Active
    # @param [Object] product_recurring_active Optional parameter: Product
    # Recurring Active
    # @param [Object] product_accountvault_active Optional parameter: Product
    # Accountvault Active
    # @return [ResponseLocationInfo] Response from the API call.
    def location_detail(location_id,
                        expand: nil,
                        fields: nil,
                        product_transaction_active: nil,
                        product_file_active: nil,
                        product_invoice_active: nil,
                        product_recurring_active: nil,
                        product_accountvault_active: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/locations/{location_id}/info',
                                     Server::DEFAULT)
                   .template_param(new_parameter(location_id, key: 'location_id')
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .query_param(new_parameter(product_transaction_active, key: 'product_transaction_active'))
                   .query_param(new_parameter(product_file_active, key: 'product_file_active'))
                   .query_param(new_parameter(product_invoice_active, key: 'product_invoice_active'))
                   .query_param(new_parameter(product_recurring_active, key: 'product_recurring_active'))
                   .query_param(new_parameter(product_accountvault_active, key: 'product_accountvault_active'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseLocationInfo.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end
  end
end
