# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # M3DSAuthenticationController
  class M3DSAuthenticationController < BaseController
    # Makes a 3DS Authentication request to authenticate a card or begin the
    # challenge flow.  If a challenge is required, a POST should be made to
    # acs_url using the value of base64_encoded_challenge_request for the value
    # of "creq" using x-www-form-urlencoded for the challenge request to the
    # ACS.
    # @param [V1MerchantThreedsecureAuthenticationRequest] body Required
    # parameter: TODO: type description here
    # @return [ResponseThreeDSAuthentication] Response from the API call.
    def m3_ds_authentication_request(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/merchant/threedsecure/authentication',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseThreeDSAuthentication.method(:from_hash))
                    .local_error('400',
                                 'Bad Request',
                                 ResponseErrorException)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end
  end
end
