# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # MerchantDetailsController
  class MerchantDetailsController < BaseController
    # Merchant Details
    # @param [V1WalletProviderMerchantDetailsRequest] body Required parameter:
    # TODO: type description here
    # @return [ResponseMerchantDetails] Response from the API call.
    def merchant_details(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/wallet-provider/merchant-details',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseMerchantDetails.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end
  end
end
