# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # OnBoardingController
  class OnBoardingController < BaseController
    # This method can be used to pre-populate data on the Merchant Processing
    # Application (MPA), a form that prospective merchants must complete and
    # sign prior to approval. Using this method will reduce the effort required
    # by the merchant at boarding time, in scenarios where data about the
    # prospective merchant has already been collected. This method will return
    # an Application ID, which can be sent to a prospective merchant to obtain
    # and complete the pre-filled application.
    # Properties that are marked "Required" indicate the minimum required data
    # for creating and saving an MPA. When using this method, you must provide
    # data for each "Required" property, or you will not receive an Application
    # ID. Properties that are marked "Required for completion" are those which
    # need to be provided to Fortis before the Merchant Processing Application
    # can be approved. These properties may be omitted or left blank when using
    # this method, however, the merchant will be required to provide this data
    # before the application can be submitted. Properties that are marked
    # "Conditionally Required" may be required for completion of the Merchant
    # Processing Application, depending on the values provided for other fields.
    # See the description for each of these properties for more information
    # about their requirement criteria.
    # @param [V1OnboardingRequest] body Required parameter: TODO: type
    # description here
    # @return [ResponseOnboarding] Response from the API call.
    def merchant_boarding(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/onboarding',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseOnboarding.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end
  end
end
