# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # PaylinksController
  class PaylinksController < BaseController
    # Generate a new Paylink to be sent via email, sms or grab the payment_url
    # to embed in you own messaging system.
    # @param [V1PaylinksRequest] body Required parameter: TODO: type description
    # here
    # @param [Array[Expand17]] expand Optional parameter: Most endpoints in the
    # API have a way to retrieve extra data related to the current record being
    # retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def createanew_paylink(body,
                           expand: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/paylinks',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponsePaylink.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # Pull in all Paylinks associated with the location_id.
    # @param [Page1] page Optional parameter: Use this field to specify paginate
    # your results, by using page size and number. You can use one of the
    # following methods: >/endpoint?page={ "number": 1, "size": 50 } >
    # >/endpoint?page[number]=1&page[size]=50 >
    # @param [Array[Order21]] order Optional parameter: Criteria used in query
    # string parameters to order results.  Most fields from the endpoint results
    # can be used as a `key`.  Unsupported fields or operators will return a
    # `412`.  Must be encoded, or use syntax that does not require encoding.
    # >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
    # >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
    # >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key":
    # "created_ts", "operator": "asc"}] >
    # @param [Array[FilterBy]] filter_by Optional parameter: Filter criteria
    # that can be used in query string parameters.  Most fields from the
    # endpoint results can be used as a `key`.  Unsupported fields or operators
    # will return a `412`. Must be encoded, or use syntax that does not require
    # encoding.
    # >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value
    # ]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=",
    # "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type",
    # "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
    # "created_ts", "operator": ">=", "value": "946702799" }, { "key":
    # "created_ts", "operator": "<=", value: "1695061891" }] >
    # >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value":
    # "Williams,Brown,Allman" }] >
    # @param [Array[Expand18]] expand Optional parameter: Most endpoints in the
    # API have a way to retrieve extra data related to the current record being
    # retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Format1] format Optional parameter: Reporting format, valid
    # values: csv, tsv
    # @param [String] typeahead Optional parameter: You can use any `field_name`
    # from this endpoint results to order the list using the value provided as
    # filter for the same `field_name`. It will be ordered using the following
    # rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={
    # "field_name": "Value" }&_typeahead=field_name >
    # @param [Array[Field39]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def listall_paylinks(page: nil,
                         order: nil,
                         filter_by: nil,
                         expand: nil,
                         format: nil,
                         typeahead: nil,
                         fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/paylinks',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(order, key: 'order'))
                   .query_param(new_parameter(filter_by, key: 'filter_by'))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(format, key: '_format'))
                   .query_param(new_parameter(typeahead, key: '_typeahead'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponsePaylinksCollection.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException))
        .execute
    end

    # Delete an existing Paylink_id
    # @param [String] paylink_id Required parameter: System generatedPaylink
    # Id
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_paylink(paylink_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/paylinks/{paylink_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(paylink_id, key: 'paylink_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponsePaylink.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException))
        .execute
    end

    # Use the Paylink_id obtained from the Create request to look up the status
    # @param [String] paylink_id Required parameter: System generatedPaylink
    # Id
    # @param [Array[Expand18]] expand Optional parameter: Most endpoints in the
    # API have a way to retrieve extra data related to the current record being
    # retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Array[Field39]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def view_single_paylink(paylink_id,
                            expand: nil,
                            fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/paylinks/{paylink_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(paylink_id, key: 'paylink_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponsePaylink.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException))
        .execute
    end

    # Update an existing Paylink_id
    # @param [String] paylink_id Required parameter: System generatedPaylink
    # Id
    # @param [V1PaylinksRequest1] body Required parameter: TODO: type
    # description here
    # @param [Array[Expand17]] expand Optional parameter: Most endpoints in the
    # API have a way to retrieve extra data related to the current record being
    # retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_paylink(paylink_id,
                       body,
                       expand: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/v1/paylinks/{paylink_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(paylink_id, key: 'paylink_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponsePaylink.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # Resend the Paylink via email or sms
    # @param [String] paylink_id Required parameter: System generatedPaylink
    # Id
    # @param [Array[Expand17]] expand Optional parameter: Most endpoints in the
    # API have a way to retrieve extra data related to the current record being
    # retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Email] email Optional parameter: Resend Email
    # @param [Sms] sms Optional parameter: Resend SMS
    # @return [ApiResponse] Complete http response with raw body and status code.
    def resend_paylink(paylink_id,
                       expand: nil,
                       email: nil,
                       sms: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/v1/paylinks/{paylink_id}/resend',
                                     Server::DEFAULT)
                   .template_param(new_parameter(paylink_id, key: 'paylink_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(email, key: 'email'))
                   .query_param(new_parameter(sms, key: 'sms'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponsePaylink.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'Unauthorized',
                                 Response401TokenException))
        .execute
    end
  end
end
