# fortis_api
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module FortisApi
  # QuickInvoicesController
  class QuickInvoicesController < BaseController
    # TODO: type endpoint description here
    # @param [V1QuickInvoicesRequest] body Required parameter: TODO: type
    # description here
    # @param [Array[Expand17Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @return [ResponseQuickInvoice] Response from the API call.
    def create_a_new_quick_invoice(body,
                                   expand: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/quick-invoices',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # TODO: type endpoint description here
    # @param [Page] page Optional parameter: Use this field to specify paginate
    # your results, by using page size and number. You can use one of the
    # following methods: >/endpoint?page={ "number": 1, "size": 50 } >
    # >/endpoint?page[number]=1&page[size]=50 >
    # @param [Array[Order21]] order Optional parameter: Criteria used in query
    # string parameters to order results.  Most fields from the endpoint results
    # can be used as a `key`.  Unsupported fields or operators will return a
    # `412`.  Must be encoded, or use syntax that does not require encoding.
    # >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
    # >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
    # >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key":
    # "created_ts", "operator": "asc"}] >
    # @param [Array[FilterBy]] filter_by Optional parameter: Filter criteria
    # that can be used in query string parameters.  Most fields from the
    # endpoint results can be used as a `key`.  Unsupported fields or operators
    # will return a `412`. Must be encoded, or use syntax that does not require
    # encoding.
    # >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value
    # ]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=",
    # "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type",
    # "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
    # "created_ts", "operator": ">=", "value": "946702799" }, { "key":
    # "created_ts", "operator": "<=", value: "1695061891" }] >
    # >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value":
    # "Williams,Brown,Allman" }] >
    # @param [Array[Expand17Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Format1Enum] format Optional parameter: Reporting format, valid
    # values: csv, tsv
    # @param [String] typeahead Optional parameter: You can use any `field_name`
    # from this endpoint results to order the list using the value provided as
    # filter for the same `field_name`. It will be ordered using the following
    # rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={
    # "field_name": "Value" }&_typeahead=field_name >
    # @param [Array[Field41Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ResponseQuickInvoicesCollection] Response from the API call.
    def list_all_quick_invoices_related(page: nil,
                                        order: nil,
                                        filter_by: nil,
                                        expand: nil,
                                        format: nil,
                                        typeahead: nil,
                                        fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/quick-invoices',
                                     Server::DEFAULT)
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(order, key: 'order'))
                   .query_param(new_parameter(filter_by, key: 'filter_by'))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(format, key: '_format'))
                   .query_param(new_parameter(typeahead, key: '_typeahead'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoicesCollection.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @param [Array[String]] expand Optional parameter: Most endpoints in the
    # API have a way to retrieve extra data related to the current record being
    # retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [EmailEnum] email Optional parameter: Resend Email
    # @param [SmsEnum] sms Optional parameter: Resend SMS
    # @return [ResponseQuickInvoiceResend] Response from the API call.
    def resend(quick_invoice_id,
               expand: nil,
               email: nil,
               sms: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/quick-invoices/{quick_invoice_id}/resend',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(email, key: 'email'))
                   .query_param(new_parameter(sms, key: 'sms'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoiceResend.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @param [V1QuickInvoicesTransactionRequest] body Required parameter: TODO:
    # type description here
    # @return [ResponseQuickInvoice] Response from the API call.
    def associate_transaction_with_ouick_invoice(quick_invoice_id,
                                                 body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/quick-invoices/{quick_invoice_id}/transaction',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @param [V1QuickInvoicesTransactionRequest] body Required parameter: TODO:
    # type description here
    # @return [ResponseQuickInvoice] Response from the API call.
    def remove_transaction_from_quick_invoice(quick_invoice_id,
                                              body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/quick-invoices/{quick_invoice_id}/transaction',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @return [ResponseQuickInvoice] Response from the API call.
    def delete_quick_invoice(quick_invoice_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/quick-invoices/{quick_invoice_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @param [Array[Expand17Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @param [Array[Field41Enum]] fields Optional parameter: You can use any
    # `field_name` from this endpoint results to filter the list of fields
    # returned on the response.
    # @return [ResponseQuickInvoice] Response from the API call.
    def view_single_quick_invoice_record(quick_invoice_id,
                                         expand: nil,
                                         fields: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/quick-invoices/{quick_invoice_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .query_param(new_parameter(fields, key: 'fields'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end

    # NOTE: A quick invoice can not be updated if it is already closed.
    # Once a partial payment is made, the item list should not be editable.
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @param [V1QuickInvoicesRequest1] body Required parameter: TODO: type
    # description here
    # @param [Array[Expand17Enum]] expand Optional parameter: Most endpoints in
    # the API have a way to retrieve extra data related to the current record
    # being retrieved. For example, if the API request is for the accountvaults
    # endpoint, and the end user also needs to know which contact the token
    # belongs to, this data can be returned in the accountvaults endpoint
    # request.
    # @return [ResponseQuickInvoice] Response from the API call.
    def update_quick_invoice(quick_invoice_id,
                             body,
                             expand: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/v1/quick-invoices/{quick_invoice_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .query_param(new_parameter(expand, key: 'expand'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException)
                    .local_error('412',
                                 'Precondition Failed',
                                 Response412Exception))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] quick_invoice_id Required parameter: Quick Invoice ID
    # @return [ResponseQuickInvoice] Response from the API call.
    def reopen_quick_invoice(quick_invoice_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/v1/quick-invoices/{quick_invoice_id}/reopen',
                                     Server::DEFAULT)
                   .template_param(new_parameter(quick_invoice_id, key: 'quick_invoice_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('user-id', 'user-api-key', 'developer-id')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResponseQuickInvoice.method(:from_hash))
                    .local_error('401',
                                 'Unauthorized',
                                 Response401tokenException))
        .execute
    end
  end
end
